:root {
  --primary: #ffffff;
  --bg: #1e1e1e;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "poppins", sans-serif;
  background-color: var(--bg);
  color: var(--bg);
}
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7%;
  background-color: rgb(14, 14, 14);
  border-bottom: 1px solid #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}
.navbar .navbar-logo {
  color: #fa6a04;
  font-style: italic;
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  margin: 0 2rem;
}

.navbar .navbar-nav a:hover {
  color: green;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid rgb(123, 6, 78);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
}

#hamburger-menu {
  display: none;
}
/* banner */
.banner {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
}
.banner img {
  width: 100%;
  height: 50vh;
}
/* card*/
.about .row {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1rem;
  justify-content: center;
}
.row {
  margin-top: 5rem;
}

.about .row .bumdes1-card {
  background-color: wheat;
  border: 5px solid black;
  margin-right: 5vh;
  cursor: pointer;
  transition: 0.8s;
  width: 200px;
}

.about .row .bumdes1-card img {
  width: 50%;
  margin-left: 7vh;
  margin-top: 5vh;
}
.about .row .bumdes1-card:hover {
  transform: scale(1.1);
}
.about .row .bumdes1-card .guru-card-tittle {
  margin-left: 7vh;
  color: black;
}

.about .row .bumdes2-card {
  text-align: center;
  background-color: wheat;
  justify-content: center;
  border: 5px solid black;
  cursor: pointer;
  transition: 0.8s;
}

.about .row .bumdes2-card img {
  width: 55%;
  margin-top: 3vh;
}
.about .row .bumdes2-card:hover {
  transform: scale(1.1);
}

.about .row .bumdes2-card .guru-card-tittle {
  margin-top: 1vh;
  color: black;
}
.about .row .bumdes3-card {
  text-align: center;
  margin-left: 5vh;
  margin-right: 5vh;
  justify-content: center;
  background-color: wheat;
  border: 5px solid black;
  cursor: pointer;
  transition: 0.8s;
  width: 15%;
}

.about .row .bumdes3-card img {
  width: 50%;
  margin-top: 5vh;
}
.about .row .bumdes3-card:hover {
  transform: scale(1.1);
}
.about .row .bumdes3-card .guru-card-tittle {
  color: black;
  margin-top: 4vh;
}
.about .row .bumdes4-card {
  text-align: center;
  border: 5px solid black;
  justify-content: center;
  background-color: wheat;
  cursor: pointer;
  transition: 0.8s;
}

.about .row .bumdes4-card img {
  width: 50%;
  margin-top: 5vh;
}
.about .row .bumdes4-card:hover {
  transform: scale(1.1);
}
.about .row .bumdes4-card .guru-card-tittle {
  margin-top: 1vh;
  color: black;
}
.isi {
  display: flex;
  margin-top: 10vh;
  background-color: white;
}
.isi input {
  border: 2px solid black;
}
.isi h3 {
  text-align: center;
}

.tablee {
  padding-top: 5rem;
  background-color: var(--bg);
  width: 100%;
  height: 80%;
  padding-bottom: 5rem;
}
.tablee h3 {
  margin-left: 42.5vh;
  text-align: center;
  background-color: green;
  border-radius: 5px;
  width: 56.7%;
  height: 20%;
  border: 2px solid white;
}
.tablee table {
  text-align: center;
  position: relative;
  margin: auto;
  background-color: white;
  border-radius: 10px;
}
.tablee th,
.tablee td {
  padding: 7px 17px;
  border: 1px solid grey;
  border-radius: 5px;
}
.tablee thead th {
  background-color: green;
  color: black;
  border-color: white;
  text-transform: uppercase;
}

/* media queries */

/* laptop */
@media (max-width: 1000px) {
  html {
    font-size: 75%;
  }
  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    background-color: #fff;
    top: 100%;
    right: -100%;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }
  .about .row {
    flex-wrap: wrap;
  }
  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }
  .about .row .content {
    padding: 0;
  }
  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }
  .about .row .content p {
    font-size: 1.6rem;
  }
  .contact .row {
    flex-wrap: wrap;
  }
  .contact .row .map {
    height: 30rem;
  }

  .contact .row form {
    padding-top: 0;
  }
}

/* tablet */

@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    background-color: #fff;
    top: 100%;
    right: -100%;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }
  .about .row {
    flex-wrap: wrap;
  }
  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }
  .about .row .content {
    padding: 0;
  }
  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }
  .about .row .content p {
    font-size: 1.6rem;
  }
  .contact .row {
    flex-wrap: wrap;
  }
  .contact .row .map {
    height: 30rem;
  }

  .contact .row form {
    padding-top: 0;
  }
}
/* mobile phone */

@media (max-width: 500px) {
  html {
    font-size: 50%;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 7%;
    background-color: rgb(14, 14, 14);
    border-bottom: 1px solid #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
  }

  .navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    font-style: italic;
  }
  .navbar .navbar-logo {
    color: #fa6a04;
    font-style: italic;
  }

  .navbar .navbar-nav a {
    color: #fff;
    display: inline-block;
    font-size: 1rem;
    margin: 0 2rem;
  }

  .navbar .navbar-nav a:hover {
    color: green;
  }

  .navbar .navbar-nav a::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid rgb(123, 6, 78);
    transform: scaleX(0);
    transition: 0.2s linear;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
  }

  .navbar .navbar-extra a {
    color: #fff;
  }

  #hamburger-menu {
    display: inline-block;
  }
  /* banner */
  .banner {
    padding-top: 5rem;
    display: flex;
    justify-content: center;
  }
  .banner img {
    width: 100%;
    height: 20vh;
  }
  /* card*/
  .about .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .row {
    margin-top: 5rem;
  }

  .about .row .bumdes1-card {
    background-color: wheat;
    border: 5px solid black;
    margin-left: -1vh;
    cursor: pointer;
    transition: 0.8s;
    width: 150px;
  }

  .about .row .bumdes1-card img {
    width: 50%;
    margin-left: 2vh;
    margin-top: 5vh;
  }
  .about .row .bumdes1-card:hover {
    transform: scale(1.1);
  }
  .about .row .bumdes1-card .guru-card-tittle {
    margin-left: 4vh;
    color: black;
  }

  .about .row .bumdes2-card {
    text-align: center;
    background-color: wheat;
    justify-content: center;
    border: 5px solid black;
    cursor: pointer;
    transition: 0.8s;
    width: 150px;
  }

  .about .row .bumdes2-card img {
    width: 55%;
    margin-top: 3vh;
  }
  .about .row .bumdes2-card:hover {
    transform: scale(1.1);
  }

  .about .row .bumdes2-card .guru-card-tittle {
    margin-top: 1vh;
    color: black;
  }
  .about .row .bumdes3-card {
    text-align: center;
    margin-top: 2vh;
    margin-left: -1vh;
    height: 140px;
    justify-content: center;
    background-color: wheat;
    border: 5px solid black;
    cursor: pointer;
    transition: 0.8s;
    width: 150px;
  }

  .about .row .bumdes3-card img {
    width: 50%;
    margin-top: 2vh;
  }
  .about .row .bumdes3-card:hover {
    transform: scale(1.1);
  }
  .about .row .bumdes3-card .guru-card-tittle {
    color: black;
    margin-top: 2vh;
  }
  .about .row .bumdes4-card {
    text-align: center;
    border: 5px solid black;
    justify-content: center;
    background-color: wheat;
    cursor: pointer;
    transition: 0.8s;
    width: 150px;
    height: 140px;
    margin-top: 2vh;
  }

  .about .row .bumdes4-card img {
    width: 50%;
    margin-top: 2vh;
  }
  .about .row .bumdes4-card:hover {
    transform: scale(1.1);
  }
  .about .row .bumdes4-card .guru-card-tittle {
    margin-top: 2vh;
    color: black;
  }
  .isi {
    display: relative;
    margin-top: 5vh;
    width: 10vh;
    height: 2vh;
    margin-left: 17vh;
    background-color: white;
  }
  .isi input {
    margin-left: -5vh;
    border: 2px solid black;
  }
  .isi p {
    text-align: center;
    font-weight: 1000;
    margin-left: -10vh;
  }
  .tablee {
    width: 20vh;
    margin-top: 5vh;
    background-color: var(--bg);
    margin-left: -67vh;
    padding-bottom: 5rem;
  }
  .tablee h3 {
    text-align: center;
    background-color: green;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    border: 2px solid white;
  }
  .tablee table {
    margin-left: 30vh;
    text-align: center;
    position: relative;
    font-size: 4.5px;
    background-color: white;
    border-radius: 10px;
  }
  .tablee th,
  .tablee td {
    padding: 7px 17px;
    border: 1px solid grey;
    border-radius: 5px;
  }
  .tablee thead th {
    background-color: green;
    color: black;
    border-color: white;
    text-transform: uppercase;
  }
}
