:root {
  --primary: #ffffff;
  --bg: khaki;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "poppins", sans-serif;
  background-color: var(--bg);
  color: var(--bg);
}
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7%;
  background-color: rgb(0, 0, 0, 0.8);
  border-bottom: 1px solid #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 1.7rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}
.navbar .navbar-logo span {
  color: #ff893a;
  font-style: italic;
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  margin-left: 2vh;
}
.navbar .navbar-nav .ss {
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  margin-left: -12vh;
}

.navbar .navbar-nav a:hover {
  color: green;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid rgb(123, 6, 78);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
}

#hamburger-menu {
  display: none;
}

/* about */
.div1 {
  display: relative;
}
.gambar {
  margin-top: 5vh;
  background-color: khaki;
}
.div1 .gambar img {
  width: 80%;
  height: 50vh;
  margin-left: 10%;
  margin-top: 6%;
  border-radius: 10px;
}
.gambar1 {
  padding-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  background-color: khaki;
}
.div1 .gambar1 img {
  width: 35%;
  margin-left: 8vh;
}
.div1 .gambar1 h2 {
  margin-top: 20vh;
  color: black;
  font-size: 20px;
  margin-left: 15vh;
}
.div1 .gambar1 .trio {
  margin-left: 8vh;
}
.div1 .gambar1 p {
  display: relative;
  margin-top: 20vh;
  color: black;
  font-size: 20px;
}
.gambar2 {
  padding-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  background-color: khaki;
}
.div1 .gambar2 img {
  width: 26%;
  margin-left: 17vh;
}
.div1 .gambar2 h2 {
  margin-top: 20vh;
  color: black;
  font-size: 20px;
  margin-left: 15vh;
}
.div1 .gambar2 .siti {
  margin-top: 20vh;
  color: black;
  font-size: 20px;
  margin-left: 17vh;
}
.div1 .gambar2 p {
  display: relative;
  margin-top: 20vh;
  color: black;
  font-size: 20px;
}
.gambar3 {
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  background-color: khaki;
}
.div1 .gambar3 img {
  width: 35%;
  margin-left: 15vh;
}
.div1 .gambar3 h2 {
  margin-top: 30vh;
  color: black;
  font-size: 20px;
  margin-left: 15vh;
}
.div1 .gambar3 .ncek {
  margin-top: 30vh;
  color: black;
  font-size: 20px;
  margin-left: 5vh;
}
.div1 .gambar3 p {
  display: relative;
  margin-top: 30vh;
  color: black;
  font-size: 20px;
}
.gambar4 {
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  background-color: khaki;
}
.div1 .gambar4 img {
  width: 30%;
  margin-left: 30vh;
}
.div1 .gambar4 h2 {
  margin-top: 30vh;
  color: black;
  font-size: 20px;
  margin-left: 15vh;
}
.div1 .gambar4 .fahri {
  margin-top: 30vh;
  color: black;
  font-size: 20px;
  margin-left: 10vh;
}
.div1 .gambar4 p {
  display: relative;
  margin-top: 30vh;
  color: black;
  font-size: 20px;
}

/* media queries */

/* laptop */
@media (max-width: 1000px) {
  html {
    font-size: 75%;
  }
  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    background-color: #fff;
    top: 100%;
    right: -100%;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }
  .about .row {
    flex-wrap: wrap;
  }
  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }
  .about .row .content {
    padding: 0;
  }
  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }
  .about .row .content p {
    font-size: 1.6rem;
  }
  .contact .row {
    flex-wrap: wrap;
  }
  .contact .row .map {
    height: 30rem;
  }

  .contact .row form {
    padding-top: 0;
  }
}

/* tablet */

@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    background-color: #fff;
    top: 100%;
    right: -100%;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }
  /* .about .row {
    flex-wrap: wrap;
  }
  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }
  .about .row .content {
    padding: 0;
  }
  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }
  .about .row .content p {
    font-size: 1.6rem;
  }
  .contact .row {
    flex-wrap: wrap;
  }
  .contact .row .map {
    height: 30rem;
  }

  .contact .row form {
    padding-top: 0;
  }
} */
}
/* mobile phone */

/* mobile phone */

@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
